BRCA2.snpeff.vcf
1kg.phase1.snp.bed.gz.tbi
1kg.phase1.snp.bed.gz
o
out
small.tsv.gz
small.tsv.gz.tbi
small.tsv
chr1i2
chr1.test
chr1.test2
chr1i
dump
step3.vcf
*.pyc
*.gz
*.tbi
cpg.bed.txt
hg19.enhancer.bed
hg19.pfam.bed
hg19.promoter.bed
*.bigWig
clinvar.bed
data
